@model IEnumerable<OdemeModel>

@{
    int toplam = 0;
    var odemeModel =(List<OdemeModel>) ViewData["Odeme"];

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/price-range.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>

    <header id="header">
        @Html.Partial("_HeaderTop")
        @Html.Partial("_HeaderBottom")
    </header>
    <form asp-controller="Home" asp-action="Listeleme" method="get">
        <section id="cart_items">
            <div class="container">

                <div class="table-responsive cart_info">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="text-center"></td>
                                <td class="description">Ödeme Türü</td>
                                <td class="description">Miktar</td>
                                <td class="description">Fiyat</td>
                                <td class="description">Ödeme Tarihi</td>
                                <td class="description">Notlar</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="cart_product">
                                    <a href=""><img src="images/cart/one.png" alt=""></a>
                                </td>

                            </tr>
                            @{ foreach (var odeme in odemeModel)
                                {
                                    
                                                        <tr>
                                                            <td class="cart_description">
                                                                <h4><a href=""></a></h4>
                                                            </td>
                                                            <td class="cart_description">
                                                                <h4>@odeme.GiderTuru</h4>
                                                            </td>
                                                            <td class="cart_description">
                                                                <h4>@odeme.Miktarı</h4>
                                                            </td>
                                                            <td class="cart_description">
                                                                <h4>@odeme.Fiyati</h4>
                                                            </td>
                                                            <td class="cart_description">
                                                                <h4>@odeme.Tarihi</h4>
                                                            </td>
                                                            <td class="cart_description">
                                                                <h4>@odeme.Aciklama</h4>
                                                            </td>
                                                        </tr>

                                    toplam = toplam + odeme.Miktarı;

                                }
                             }
                        </tbody>
                    </table>

                    
                </div>
                <div>
                    <label>Ödenecek Tutar</label>
                    <label>@toplam</label>
                </div>

            </div>
        </section>
    </form><!--/#cart_items-->


    @Html.Partial("_Footer")
    <script src="~/js/jquery.js"></script>
    <script src="~/js/price-range.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>